<div class="container">
  <h2 class="text-center my-4">Liste des Pokémon</h2>

  <div class="row">
    @for (pokemon of pokemons; track $index) {
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
      (click)="goToPokemonDetails(pokemon)"
    >
      <div class="card" style="cursor: pointer">
        <img
          [src]="getPokemonImgUrl(pokemon)"
          class="card-img-top"
          alt="{{ pokemon.name }}"
        />
        <div class="card-body">
          <h5 class="card-title text-center">{{ pokemon.name | uppercase }}</h5>
        </div>
      </div>
    </div>
    }
  </div>
</div>
